{% extends "base/main.html" %}

{% block content %}

<div class = "container">
    <div class = "left">
        <h2>Quiz App By L3xooo</h2> 
        <form class = "form" action = "" method = "POST">
            <input name = 'name' placeholder=" Name">
            {% csrf_token %}
            <button class = "btn" type = "submit">Start quiz</button>
        </form>

    </div>
    
    <div class = "right">
        <h3>Quiz History</h3>
        {% for quiz in quizs %}
            <div class = "quiz">
                <div class = "q__left">
                    <a href = "{% url 'result' quiz.id %}" ><h3>Quiz {{quiz.id}}</h3></a>
                    <h3>{{quiz.player}}</h3>
                </div>
                <div class = "q__right">
                    <h5>Correct ques.: {{quiz.correctQuestions}}/10</h5>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
